label {
    margin-left: 90px;
    display: block;
}

.update-location-form-container {
    /* background-color: rgba(199, 233, 255, 0.514); */
    padding-top: 20px;
    padding-bottom: 20px;
    width: 340px;
    margin: auto auto 1px auto;
    justify-content: center;
}

.update-location-input {
    margin-right: 4px;
    display: inline-block;
}

#update-location-form {
    margin-left: -88px;
    justify-content: center;
}

#update-location-button {
    position: relative;
    left: 207px;
}