button[type="submit"] {
    margin-left: 160px;
    display: inline-block
}

.location-form-container {
    /* background-color: rgba(199, 233, 255, 0.514); */
    padding-top: 20px;
    padding-bottom: 20px;
    width: 370px;
    margin: auto auto 1px auto;
}

.location-form-input {
    margin-right: 400px;
    display: inline-block;
    width: 250px;
}

.add-location-label {
    margin-left: 165px;
}

#add-location-form {
    margin-left: -88px;
}

#add-location-button {
    position: relative;
    left: 26px;
}