label {
    margin-left: 80px;
    display: block;
}

button[type="submit"] {
    margin-left: 160px;
    display: inline-block
}

.add-note-form-container {
    /* background-color: rgba(199, 233, 255, 0.514); */
    padding-top: 20px;
    padding-bottom: 20px;
    margin: -18px auto 5px auto;
    width: 90%;
}

#note-title-input {
    width: 250px;
}

#note-content-input {
    margin-left: -80px;
    width: 250px;
    height: 120px;
    /* border */
}

#add-note-input {
    margin-right: 400px;
    display: inline-block;
}

#add-note-form {
    margin-left: -5px;
}

#add-note-button {
    left: -60px;
    position: relative;
    margin-top: 5px;
}