label {
    margin-left: 80px;
    display: block;
}

button[type="submit"] {
    margin-left: 160px;
    display: inline-block
}

.add-note-form-container {
    /* background-color: rgba(199, 233, 255, 0.514); */
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 90%;

}

#add-note-input {
    margin-right: 400px;
    display: inline-block;
}

#add-note-form {
    margin-left: -88px;
}

#add-note-button {
    margin-left: 50%;
}